latex/tynan-ee.aux
latex/tynan-ee.log
latex/tynan-ee.fdb_latexmk
latex/tynan-ee.fls
latex/tynan-ee.toc
latex/tynan-ee.lof
latex/tynan-ee.lot
latex/tynan-ee.synctex.gz
latex/tynan-ee.bbl
latex/tynan-ee.blg
